
#login_page {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 183, 218);
    /* color: rgb(205, 54, 147); */
}

#Logo {
    text-align: center;
    padding-bottom: 20px;

    /* height: 90%;
    width: 90%; */

}

#Logo img {
    height: 30%;
    width: 30%;
}

#doctor_avatar, #form_right {

    /* border: solid 2px red; */
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doctor_avatar img {
    height: 100%;
    width: 100%;
}

.form-container p, .form-container span {        
    font-size: 16px;
}

.form-container .title span {
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
}

.form-container ::placeholder {
    font-size: 20px;
}


.form-container {
    /* width: 350px; */
    /* height: 500px; */
    height: 80%;
    width: 60%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;

    /* font-size: 54px; */
  }
  
  .title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
  }
  
  .page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
  }
  
  .page-link-label:hover {
    color: #000;
  }
  
  .form-btn {

    /* height: 40%; */
    width: 40%;
    padding: 10px 15px;
    font-size: 15px;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    /* background: teal; */
    background-color: rgb(7, 183, 218);
    font-weight: 500;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }
  
  .sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
  }
  
  .apple-login-button,
      .google-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
  }
  
  .apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
  }
  
  .google-login-button {
    border: 2px solid #747474;
  }
  
  .apple-icon,
      .google-icon {
    font-size: 18px;
    margin-bottom: 1px;
  }