

#sidebar {
    display: flex;
    flex-direction: column;
    /* padding: 0 3%; */

    width: 11.5%;

    /* border: solid 2px red; */


    position: fixed;
    top: 10%;
    /* z-index: 5; */
}

#patients-ul, #appointments-ul {
    display: none;
    /* list-style: decimal-leading-zero; */
    list-style: none;
}

a {
    text-decoration: none;
    display: flex;
    gap: 5%;
}

#patients-ul a, #appointments-ul a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 2.5em;
    width: 100%; 
}

#dashboard, #dropDown-one, #dropDown-two, #dropDown-three, #dropDown-four, #dropDown-five, #theme {

    height: 3.6em;

    /* width: 100%; */
    /* border: solid 2px cyan; */
    display: flex;
    gap: 3%;
    /* padding-left: 2%; */
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

#dashboard, #dropDown-three, #dropDown-four, #dropDown-five, #theme {

    justify-content: center;

}

#dashboard:hover, #dropDown-one:hover, #dropDown-two:hover, #dropDown-three:hover, #dropDown-four:hover, #dropDown-five:hover, #theme:hover {
    cursor: pointer;
    background-color: lightskyblue;
    font-style: italic;
}

#dashboard .active, #dropDown-one .active,
#dropDown-two .active, #dropDown-three .active, #dropDown-four:active, #dropDown-five:active  {
    color: green;

    /* border-left: solid 3px green; */
    /* background-color: green; */
}

#patients-ul .active {
    color: cyan;
}

#theme {
    margin-top: 2%;
    justify-content: center;
    gap: 10%;
}

#dark, #light {
    height: 50%;
    width: 16%;
    border: solid 2px black;
    background-color: black;
    border-radius: 6px;
}

#light {
    border: solid 2px gray;
    background-color: white;
}



